<br>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table>
  <tr>
    <th>Conection ID</th>
    <th>Provider Name</th>
    <th>Customer ID</th>
    <th>Updated at</th>
    <th>Status</th>
    <th>Accounts</th>
    <th>Actions</th>
 
  </tr>

<% @ff.each do |f| %>
	<tr> <td><%= f['id']%></td><td><%=f['provider_name']%></td><td><%= f['customer_id']%></td><td><%= f['updated_at']%></td><td><%=f['status']%></td><td> <%= link_to 'Acounts', account_path(id: f['id'])%></td><td>
		<%= link_to 'Delete', con_delete_path(id: f['id'])%> | <%= link_to 'Reconnect', con_reconect_path(id: f['id'], r: f['customer_id'])%> | <%= link_to 'Refresh', con_refresh_path(id: f['id'])%>
	</td></tr>

<%end%>

</table>