<!DOCTYPE html>
<html>
  <head>
    <title>Restapi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>
    <%= yield %>
    <p></p>
    <li><%= link_to 'Back to INDEX', root_path %></li>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
